/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family:'Great Vibes', cursive; /*"Junge", sans-serif;*/
    background-color: #FFFFFF; 
    color:#F5F5DC;
    font-size: medium;
    letter-spacing: 0.25em;
    justify-content: center;
    align-items: center;
  }

  
.fancytext {
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
.content {
    text-align: center;
    background-color: #FFFFFF;
    color: #B2AC88; 
    font-family: 'Great Vibes', cursive;; 
    /*border-style: solid;*+/
    /*border-width: 2px;*/
    justify-content: center;
    align-items: center;
    /*padding: 20px;*/
    /*box-shadow: 5px 5px 10px;*/
  }  

  #video {
    background-image: url('./pictures/olive.jpg'); /* Path to your background image */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    padding: 50px; /* Add some padding */
    color: white; /* Text color */
    height: 400px; /* Set a height for the section */
  }
  /* -------------------timer ----------------*/

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
  }
  
  /* Media query for smartphones (max-width: 767px) */
  @media (max-width: 767px) {
    .countdown {
        font-size: smaller;
    }
  }
  
  .countdown-item {
    margin: 0 2%;
    text-align: center;
  }
  
  .countdown-item span {
    font-weight: bold;
  }
  
  .countdown-item p {
    margin: 5px 0;
  }



/* ------------footer css----------------*/

footer {
    padding: 10px;
    width: 100%;
    bottom: 0;
    font-family:'Great Vibes', cursive;
    letter-spacing: 0;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #B2AC88;
}

/* ------------video css----------------*/

.video-section {
  display: flex;
  justify-content: center;
  align-items: center; /* Couleur de fond du site */
}

.fullscreen-video-container {
  width: 100%;
  max-width: 360px; /* La largeur maximale de la vidéo, ajustez selon vos besoins */
  overflow: hidden;
  background-color: #000; /* Fond noir pour mieux voir la vidéo */
  border-radius: 10px; /* Optionnel : pour un effet de coins arrondis */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optionnel : pour un effet d'ombre */
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

/* ------------NAV css----------------*/


/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  
  /*===== Colores =====*/
  --first-color: #F5F5DC;/*#3664F4;*/
  --dark-color: #F7E7CE; /*#070D1F;*/
  --dark-color-alt: black; /*#282B3A;*/
  --white-color: #B2AC88;/*#E6E7E9;*/

  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: var(--white-color);
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: .25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: .25rem;
  margin-bottom: .8rem;
  width: 56px;
  height: 56px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}

.nav__img img {
  width: 46px;
}

.nav__name {
  display: block;
  color: var(--white-color);
}

.nav__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__item {
  margin: 2.5rem 0;
}

.nav__link {
  color: var(--white-color);
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--first-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo, .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    -ms-grid-columns: (max-content)[3]];
        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: .5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 .25rem;
  }
  .nav__link {
    padding: .5rem .8rem;
    border-radius: .25rem;
  }
  .nav__link:hover {
    background-color: var(--first-color);
  }
  .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/*************************************pluie icone**********************/

.cow-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url('./pictures/la-peche.png'); /* Remplacez par le chemin de votre icône de vache */
  background-size: contain;
  background-repeat: no-repeat;
}
@keyframes fall {
  0% { transform: translateY(-100px); opacity: 1; }
  100% { transform: translateY(100vh); opacity: 0; }
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
/**********************RSVP*********************/

.rsvp-section {
  display: flex;
  justify-content: center;
  align-items: center; /* Couleur de fond du site */
}
.rsvp-container {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.rsvp-container h1 {
  font-family: "Great Vibes", cursive;
  color: black;
  margin-bottom: 20px;
}

.rsvp-container label {
  display: block;
  margin: 10px 0 5px;
}

.rsvp-container input,
.rsvp-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.rsvp-container button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.rsvp-container button:hover {
  background-color:#F5F5DC;
;
}

/* ------------------ REGISTRATION-----------------------*/



